<body>

<div class="container-fluid" style="position: relative !important;">
  <div class="bg-img">
    <div class="content">
      <header>Đăng nhập</header>
      <form>
        <div class="field" data-toggle="username" data-content="Tên tài khoản không được để trống" id="field-username">
          <span class="fa fa-user"></span>
          <input id="username" type="text" required placeholder="Tên tài khoản">
        </div>
        <div class="field space" data-toggle="password" data-content="Mật khẩu không được để trống" id="field-password">
          <span class="fa fa-lock"></span>
          <input id="password" type="password" class="pass-key" required placeholder="Nhập mật khẩu">
          <span class="show">SHOW</span>
        </div>
        <div class="pass">
          <a href="#">Quên mật khẩu?</a>
        </div>
        <div>
          <div class="field">
            <button type="submit">Đăng Nhập</button>
          </div>
        </div>
      </form>
      <div class="login">Hoặc đăng nhập với</div>
      <div class="links">
        <div class="facebook">
          <i class="fab fa-facebook-f"><span>Facebook</span></i>
        </div>
        <div class="instagram">
          <i class="fab fa-google"><span>Gmail</span></i>
        </div>
      </div>
      <div class="signup">Bạn không có tài khoản?
        <a href="">Đăng ký</a>
      </div>
    </div>
  </div>
</div>

<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

</body>
