<div class="container text-center">
  <div><h1 style="color: #d92323 ;font-family: Alice">Nhanh tay đăng ký để có thể thoãi mái trò chuyện</h1></div>
  <div class="row ">
    <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
      <div class="cart ">
        <div class="cart_img">
          <img src="https://1.bp.blogspot.com/-osFbnixiUpo/XoBSiur10gI/AAAAAAAAabk/GpVA3FNdNIoBCg9rKr01aSEpLrsTHbs_wCLcBGAsYHQ/s1600/Hinh-anh-con-gai-cute-de-thuong%2B%252852%2529.jpg" alt="">
        </div>
        <h4>Hà Xinh Gái</h4>
        <p>Hà Nội</p>
        <button>Kết Bạn</button>
      </div></div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-5"><div class="cart ">
      <div class="cart_img">
        <img src="https://thegioihinhanh.com/uploads/images/editor/nh%E1%BB%AFng%20h%C3%ACnh%20%E1%BA%A3nh%20girl%20xinh%20d%E1%BB%85%20th%C6%B0%C6%A1ng%20nh%E1%BA%A5t%203.jpg" alt="">
      </div>
      <h4 >Hà Xinh Gái</h4>
      <p>Hà Nội</p>

      <button>Kết Bạn</button>
    </div></div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-5"><div class="cart ">
      <div class="cart_img">
        <img src="https://1.bp.blogspot.com/-khm0a-8YJP4/XkSt1f_BN0I/AAAAAAAAVYQ/I33PpzsAqxcmYPpO0bAaw3lWLDrgU7NUgCNcBGAsYHQ/s1600/hinh-nen-girl-xinh-gai-dep-hd%2B%25281%2529.jpg#width=&height=" alt="">
      </div>
      <h4>Nhã Cute</h4>
      <p>Quảng Trị</p>
      <button>Kết Bạn</button>
    </div></div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-5"><div class="cart ">
      <div class="cart_img">
        <img src="https://thantuongbolero.vn/tai-anh-dep-gai-xinh/imager_3774.jpg" alt="">
      </div>
      <h4>Huyền Duyên</h4>
      <p>Vinh</p>

      <button>Kết Bạn</button>
    </div></div>
  </div>
  <br>
  <div class="d-flex justify-content-end" ><a href=""   class="btn btn-danger">Xem thêm</a></div>
</div>
